<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Logging" type="Log.It.LoggingSection, Log.It" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <Logging Factory="Log.It.With.NLog.NLogLoggerFactory, Log.It.With.NLog" />
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
      <add assembly="Test.It.With.RabbitMQ.091.Integration.Tests" />
      <add assembly="Log.It.With.NLog" />
    </extensions>
    <variable name="simplePipeSeparatorLayout" value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff} | ${logger} | ${level} | ${message} | ConnectionId = ${lc:key=Connection.Id} | Channel = ${lc:key=Channel.Id} ${onexception:| ${exception:format=type} | ${exception:format=method} | ${exception:format=message} | ${exception:format=stacktrace} | ${exception:method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}" />
    <targets>
      <target name="NLogCapturing" xsi:type="NLogCapturing" layout="${simplePipeSeparatorLayout}" />
    </targets>
    <rules>
      <logger name="*" minLevel="Trace" writeTo="NLogCapturing" />
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" /></startup></configuration>
